.page {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.searchresultbox {
  width: 754px;
  height: 472px;
  flex-shrink: 0;
  opacity: 0.6;
  background: #d9d9d9;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 200px;
}

.searchme {
  width: 295px;
  height: 35px;
  padding: 0.3rem;
  border-radius: 25px;
  border: none;
  outline: none;
  appearance: none; 
}

.latest,
.leader{
  height: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #6b6b6b #303030;
  padding: 0;
  margin: 0;
  list-style-position: inside;
}


.leaderItem {
  padding: 10px;
  font-size: 24px;
  border-bottom: 1px solid #ddd;
}

.leaderItem strong {
  color: white;
  font-weight: bold;
}

.results {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.button {
  border: none;
  height: 30px;
  border-radius: 15px;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: all ease 0.3s;
}

@media (max-width:900px) {
  .row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    gap: 20px;
  }
  .leader,
  .latest{
    width: 400px;
    height: 150px;
  }
  .latestmatches,
  .leaderboard{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
