.Footer{
    height: 7vh;
    flex-shrink: 0;
    background: #2D2D2D;
    width: 100vw;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    position: fixed;
    bottom: 0;
}
.comp{
    margin-left: 20px;
}
.comp2{
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}